.App {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin: 0 6em;
}

img {
  display: flex;
  position: absolute;
  right: 0;
}

img.yellow-bg {
    z-index: -2;
}

img.photo {
    z-index: -1;
}